In [6]:
import yfinance as yf

msft = yf.Ticker("MSFT")
aapl= yf.Ticker("aapl")

In [12]:
# the current stock matket
aapl_historical = aapl.history(start="2022-06-10", end="2023-06-15", interval="1mo")

In [13]:
# nice try for the database
aapl_historical

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-07-01 00:00:00-04:00,135.232497,162.658742,134.854763,161.545380,1447125400,0.00,0.0
2022-08-01 00:00:00-04:00,160.054270,175.104402,156.207247,156.286774,1510239600,0.23,0.0
2022-09-01 00:00:00-04:00,155.926504,163.511790,137.371410,137.570496,2084722800,0.00,0.0
2022-10-01 00:00:00-04:00,137.580467,156.782596,133.757947,152.641541,1868139700,0.00,0.0
2022-11-01 00:00:00-04:00,154.373603,154.741913,133.767896,147.355713,1724847700,0.23,0.0
2022-12-01 00:00:00-05:00,147.779654,150.481777,125.504518,129.552719,1675731200,0.00,0.0
2023-01-01 00:00:00-05:00,129.901704,146.802483,123.809445,143.871017,1443652500,0.00,0.0
2023-02-01 00:00:00-05:00,143.551951,156.923015,140.909652,146.981964,1307198900,0.23,0.0
2023-03-01 00:00:00-05:00,146.627193,164.772094,143.701232,164.672226,1520266600,0.00,0.0
2023-04-01 00:00:00-04:00,164.043102,169.615396,159.559298,169.445618,969709700,0.00,0.0
2023-05-01 00:00:00-04:00,169.046180,179.102278,164.083044,177.005173,1275155500,0.24,0.0
2023-06-01 00:00:00-04:00,177.699997,194.479996,176.929993,193.970001,1297101100,0.00,0.0